.Cart-Widget{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-icon{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.cart-notification {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(229, 7, 7);
    color: white;
    border-radius: 40%;
    padding: 2px;
    font-size: 12px;
  }
  